In [1]:
import plotly.express as px
df = px.data.iris()
df

,sepal_length,sepal_width,petal_length,petal_width,species,species_id
0,5.1,3.5,1.4,0.2,setosa,1
1,4.9,3.0,1.4,0.2,setosa,1
2,4.7,3.2,1.3,0.2,setosa,1
3,4.6,3.1,1.5,0.2,setosa,1
4,5.0,3.6,1.4,0.2,setosa,1
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,3
146,6.3,2.5,5.0,1.9,virginica,3
147,6.5,3.0,5.2,2.0,virginica,3
148,6.2,3.4,5.4,2.3,virginica,3
149,5.9,3.0,5.1,1.8,virginica,3

In [3]:
df['species_id'].value_counts()

1    50
2    50
3    50
Name: species_id, dtype: int64

In [4]:
df.groupby('species_id').mean()

            sepal_length  sepal_width  petal_length  petal_width
species_id
1                  5.006        3.418         1.464        0.244
2                  5.936        2.770         4.260        1.326
3                  6.588        2.974         5.552        2.026

In [11]:
df_slice = df.loc[df['species'] != 'setosa']
df_slice['species'].value_counts()

versicolor    50
virginica     50
Name: species, dtype: int64

In [17]:
new_df = df_slice.groupby('species')['sepal_length'].sum()
new_df

species
versicolor    296.8
virginica     329.4
Name: sepal_length, dtype: float64