In [1]:
import plotly.express as px
df = px.data.iris()

In [3]:
df['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [4]:
df.groupby('species').mean()

            sepal_length  sepal_width  petal_length  petal_width  species_id
species
setosa             5.006        3.418         1.464        0.244         1.0
versicolor         5.936        2.770         4.260        1.326         2.0
virginica          6.588        2.974         5.552        2.026         3.0

In [11]:
df_slice = df.loc[df['species'] != 'setosa']
df_slice['species'].value_counts()

versicolor    50
virginica     50
Name: species, dtype: int64

In [17]:
new_df = df_slice.groupby('species')['sepal_length'].sum()
new_df

species
versicolor    296.8
virginica     329.4
Name: sepal_length, dtype: float64